anvil-uplink==0.3.32
chardet==3.0.4
filelock==3.0.12
future==0.18.2
idna==2.10
joblib==0.16.0
numpy==1.19.1
packaging==20.4
Pillow==7.2.0
pyparsing==2.4.7
regex==2020.7.14
sacremoses==0.0.43
sentencepiece==0.1.91
six==1.15.0
tokenizers==0.8.1rc2
torch==1.6.0
torchvision==0.7.0
tqdm==4.48.2
transformers==3.1.0


